
body{
  background-color: #fafafa;
}

//layout
.layout{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 94vh;
}
//Card Container
.card{
  display: inline-block;
  border-radius: 20px;
  box-shadow: 0 0 10px #dadada;
  background-color: #0a77edde;
  // height: 711px;
  width: 611px;
  padding: 0px 0px 0px 0px;
  
  
}


